.comments__author{
    margin-top:24px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    max-width: 382px;
}

@media (max-width : 770px) {
    .comments__author{
    margin-top: 5px;
    font-size: 14px;
    line-height: 24px;
    order: 1;
    }
}
