.places__text{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}
.places__text:nth-of-type(2){
    margin-top: 36px;
}

@media (max-width:719px){
    .places__text{
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 169.43%;
    }
}