.footer__copyright{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
}

@media (max-width : 768px) and (min-width: 1024) {
    .footer__copyright{
        font-size: 14px;
        line-height: 20px;
    }
}
@media (max-width : 375px) {
    .footer__copyright{
        max-width: 100%;
        text-align: left;
        margin:48px 0 24px 0;
    }
}
@media (max-width : 718px) {
    .footer__copyright{
        position: relative;
        max-width: 100%;
        text-align: left;
        margin:48px 0 24px 0;
    }
}