.video__duration{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;    
    margin: 0 0 12px 0;
}


@media (max-width:768px){
    .video__duration{
        margin: 0 0 8px 0;
    }
}

