.video__preview-title{
    max-width: 322px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    margin: 0 0 12px 0;
}

@media (max-width:1023px){
    .video__preview-title{
        font-size: 24px;
        line-height: 26px;
    }
}

@media (max-width:375px){
    .video__preview-title{
        margin: 0 0 2px 0;
    }
}
