.comments__title{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    text-align: center;
    max-width: 800px;

}

@media (max-width : 770px) {
    .comments__title{
    font-size: 42px;
    line-height: 46px;
    }
}
@media (max-width : 375px) {
    .comments__title{
    font-size: 32px;
    line-height: 35px;
    }
}
